<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">


<style>
  .header {
  overflow: hidden;
  background-color: #000000;
  padding: 10px 10px;
}
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 0px;
  font-size: 18px; 
  line-height: 15px;
  border-radius: 4px;
}

.header-left {
  float: none;
}



</style>
</head>
<body>
<div class="header">
    
    <div class="header-left">
    <a href="/" class="navbar-brand">| Smuggling Control of Trees | </a>
    <a href="/" class="navbar-brand">Home</a>
    <a href="/about" class="nav-item nav-link active">About</a>
        
    

    </div>
    
  

</div>



</body>
</html>
